@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    font-family: roboto;
    margin: 0 auto;
    text-align: center;

    
}
#centralogo{
    font-size: small;
   text-align: center;
   color: #1c4040;
   
   
}

#bordo {
    border-top:solid 0.1rem #ffd977;
   
    margin-top: auto;


}
#nav{
    background-color:  #fefbf1;
}
#autore{
    text-align: center;
    display: block;
    margin-top: 1rem
}

.content{
    margin: 50%;
    margin: auto;
    text-align: left;
}
.content video{
    width: 100%;
}

a link{
    color: #004d4d;
    
}
